.container {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  min-height: 71vh;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  background: var(--light);
  box-shadow: var(--shadow);
}

.pageTitle {
  max-width: 700px;
  color: var(--main);
  text-transform: uppercase;
  font-weight: 900;
  background: var(--light);
  width: 100%;
  text-align: center;
  padding: 12px;
  box-shadow: var(--shadow);
  margin: 0 auto 20px auto;
}

.form input,
.form select {
  padding: 14px 10px;
  background-color: var(--light);
  border: 1px solid var(--main);
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  color: var(--main);
}

.form input:focus,
.form select:focus {
  border: 2px solid var(--warning);
}

.form input{
  width: 48%;
}

.setFullWidth{
  width: 100%;
}

.form textarea {
  width: 100%;
}


.form button {
  width: max-content;
  padding: 15px 20px;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 20px auto 0 auto;
  background: var(--main);
}

.form button:hover {
  background: var(--mainLight);
  transition: 0.2s ease-in;
}
